        img {
            position: absolute;
        }
        
        div {
            position: absolute;
            width: 500px;
            height: 500px;
        }
        
        #rightSide {
            left: 500px;
            border-left: 1px solid black;
        }
        h1 {
            display: inline;
        }
        #level {
            position: absolute;
            left: 470px;
            font-family: helvetica;
            font-size: 20px;
            color: red;
            font-weight: 900;
        }